/* Basics: nav, h1, h2, h3, p, .footer, body, .container */
		a:hover {
			color: #C4634F;
		}
		
		a:link {
			color: #7e7e7e;
			font-size: 16px;
			font-family: 'Droid Serif', serif;
			list-style: none;
			text-decoration: none;
		}

		a:visited {
			color: #000;
		}

		body {
			background: url("../img/grey_wash_wall.png");
		}

		.indexcontainer {
			background-color: #F6EEE4;
			height: 580px;
			margin-left: 10%;
			margin-right: 10%;
		}

		.biocontainer {
			background-color: #F6EEE4;
			height: 620px;
			margin-left: 10%;
			margin-right: 10%;
		}

		.resumecontainer {
			background-color: #F6EEE4;
			height: 1200px;
			margin-left: 10%;
			margin-right: 10%;
		}

		.portfoliocontainer {
			background-color: #F6EEE4;
			height: 1100px;
			margin-left: 10%;
			margin-right: 10%;
		}

		.footer {
			text-align: center;
			color: black;
			font-family: 'Calibri';
		}


		h1 {
			color: #8C201F;	
			font-family: 'Cinzel Decorative', cursive;
			font-weight: 700;
			font-size: 36px;
			text-align: center;
		}

		h2 {
			font-family: 'Cinzel Decorative', serif; 
			font-weight: 475px;
			font-size: 20px;
			color: #C4634F;
			margin-top: -10px;
			margin-left: 5px;
			margin-bottom: 10px;
			}

		h3 {
			color: #767676;
			font-family: 'Droid Serif', serif;
			font-size: 16px;
		}

		p {
			color: #363636;
			font-size: 16px;
			font-family: 'Calibri', serif;
			margin-bottom: -10px;
		}

		h2, h3, p, .major_minor {
			text-align: left;
		}

		ul {
			color: #363636;
			text-decoration: none;
			list-style: none;
			font-family: 'Calibri';
			font-size: 16px;
			text-align: left;
			margin-left: -30px;
		}
/* Index */

		.indexpicture {
			margin: 10px;
			border: 2px solid #021a40;
			width: 190px;
			height: 250px;
			margin-top: 30px;
			margin-left: 100px;
		}

	
/* Bio*/

		.biopicture {
			padding: 1px;
			border: 2px solid #021a40;
			width: 120px;
			height: 160px;
			margin-top: -1em;
			margin-bottom: -.5em;
			margin-left: 15px;
		}

		.major_minor {
			font-size: 23px;
			font-family: 'Cinzel Decorative', serif; 
			font-weight: 400px;
			color: #363636;
		}

		@media (max-width: 1680;) {
			body {
				font-size: 16px;
			}
			.container {
				max-width: 80%;
			}
		}

		.panel {
			color: #132139;
			font-size: 16px;
			text-transform: uppercase;
			margin-left: -20px;
		}

/* Resume */

		.major_minor {
			font-size: 23px;
			font-family: 'Cinzel Decorative', serif; font-weight: 400;
			color: #363636;
			margin-bottom: -1.5em;
			margin-left: 10px;
		}


		@media (max-width: 1680;) {
			body {
				font-size: 16px;
			}
			.container {
				max-width: 80%;
			}
		}


		.panel {
			background-color: #696969;
			border-radius: 30px;
			color: white;
			font-size: 16px;
			height: 25px;
			margin-left: 0px;
			text-transform: uppercase;
			width: 230px;
		}

/* Portfolio */

		body {
		  text-align: center;
		  z-index: -1;
		  height: 90px;
		 
		}

		.controls {
		  margin-left: 350px;
		}

		.logo {
		  margin-left: 200px;
		  margin-bottom: -30px;
		}

		section {
		  align: center;
		  margin-left: 180px;
		}


		/* Gallery Stying */
		.gallery .control-button {
		  color: #ccc;
		  color: rgba(255, 255, 255, 0.4);
		}

		.gallery .control-button:hover {
		  color: white;
		  color: rgba(255, 255, 255, 0.8);
		}

		/*
			Theme controls how everything looks in Gallery CSS.
		*/
		.gallery {
		  position: relative;
		}

		.gallery .item {
		  height: 500px;
		  overflow: hidden;
		  text-align: center;
		  margin-left: 100px;
		}
		.gallery .controls {
		  position: absolute;
		  bottom: -120px;
		  width: 100%;
		  text-align: center;
		}

		.gallery .controls img {
		  border: 1px solid #000;
		  size: 200px;
		}

		.gallery .control-button {
		  display: inline-block;
		  margin: 0 .02em;
		  font-size: 3em;
		  text-align: center;
		  text-decoration: none;
		  transition: color .1s;
		}