/* Home */
		a:hover, {
			color: #000;
		}
		
		a:link {
			color: #7e7e7e;
			font-size: 16px;
			font-family: 'Droid Serif', serif;
			list-style: none;
			text-decoration: none;
		}

		a:visited {
			color: #000;
		}

		body {
			background: url("../img/grey_wash_wall.png");
		}

		.container {
			background-color: #F6EEE4;
			height: 620px;
		}

		.footer {
			margin-top: 140px;
			margin-bottom: -100px;
			text-align: center;
			color: black;
			font-family: 'Calibri';
		}

		/* Primary Header */
		h1 {
			color: #8C201F;
			font-family: 'Cinzel Decorative', cursive;
			font-size: 50px;
			text-align: center;
			margin-top: 50px;
		}

		/* Secondary Header */

		h2 {
			color: #C4634F;
			font-family: 'Droid Serif', serif;

		}

		h3 {
			color: #767676;
			font-family: 'Droid Serif', serif;
			font-size: 16px;
			font-weight: 300px;
			margin-left: 20px;
			margin-top: 30px;
			margin-bottom: -10px;
		}

		/* Paragraph */

		p {
			color: #000;
			font-size: 16px;
			font-family: 'Calibri', serif;
			margin-bottom: -10px;
		}

		/* Picture */

		.picture {
			margin: 10px;
			border: 2px solid #021a40;
			width: 190px;
			height: 250px;
			margin-top: 30px;
			margin-left: 100px;
		}

		h3, p {
			margin-left: 10px;
		}


/* Bio*/

		/* Objective */
	

		body {
			font-family: 'Calibri';
			font-size: 16px;
			margin-left: 20px;
		}

		.contact {
			list-style: none;
			margin-left: 0px;
		}

		.education {
			margin-left: 5px;
		}

	
		h1 {
			color: #8C201F;	
			font-family: 'Cinzel Decorative', serif; 
			font-weight: 700;
			font-size: 40px;
			text-align: center;
			margin-bottom: 0px;
		}

		h2 {
			font-family: 'Cinzel Decorative', serif; 
			font-weight: 100px;
			font-size: 25px;
			color: #C4634F;
			margin-top: 15px;
			margin-left: 5px;
			margin-bottom: 10px;
		}

		h3 {
			color: #767676;
			font-family: 'Droid Serif', serif;
			font-size: 16px;
			font-weight: 300px;
			margin-left: 20px;
		}

		h4 {
			font-family: 'Cinzel Decorative', serif; font-weight: 400;
			color: black;
			font-size: 16px;
			margin-top: 0em;
			margin-bottom: -.75em;
			margin-left: 10px;
			text-transform: uppercase;
		}

		img {
			padding: 1px;
			border: 2px solid #021a40;
			width: 150px;
			height: 200px;
			margin-top: -1em;
			margin-bottom: -.5em;
			margin-left: 10px;
		}

		.major_minor {
			font-size: 23px;
			font-family: 'Cinzel Decorative', serif; 
			font-weight: 400px;
			color: #363636;
			margin-left: 10px;
		}

		@media (max-width: 1680;) {
			body {
				font-size: 16px;
			}
			.container {
				max-width: 70%;
			}
		}

		.nav_top {
			color: #132139;
			margin-bottom: -25px;
			text-align: right;
		}

		p {
			color: #132139;
			margin-left: 20px;
		}

		.panel {
			color: #132139;
			font-size: 16px;
			text-transform: uppercase;
			margin-left: 20px;
		}

		.index {
			color: #BB4D3E;
		}

		ul li {
			color: #363636;
			text-decoration: none;
			list-style: none;
			margin-left: -15px;
		}

/* Resume */

		/* Objective */
	
		body {
			font-family: 'Calibri';
			color: #363636;
			background-color: #132139;
			font-size: 16px;
			margin-left: 20px;
			background: url("../img/grey_wash_wall.png");
		}

		.contact {
			list-style: none;
			margin-left: 0px;
		}

		.education {
			margin-left: 5px;
		}

	
		h1 {
			color: #8C201F;	
			font-family: 'Cinzel Decorative', cursive;
			font-weight: 700;
			font-size: 36px;
			text-align: center;
			margin-bottom: 0px;
		}

		h2 {
			font-family: 'Cinzel Decorative', serif; 
			font-weight: 475px;
			font-size: 20px;
			color: #C4634F;
			margin-top: -10px;
			margin-left: 5px;
			margin-bottom: 10px;
		}

		h3 {
			color: #767676;
			font-family: 'Droid Serif', serif;
			font-size: 16px;
			margin-left: 20px;
		}

		h4 {
			font-family: 'Cinzel Decorative', serif; font-weight: 400;
			color: black;
			font-size: 16px;
			margin-top: 0em;
			margin-bottom: -.75em;
			margin-left: 10px;
			text-transform: uppercase;
		}


		img {
			padding: 1px;
			border: 2px solid #021a40;
			border-radius: 40px;
			width: 130px;
			height: 160px;
			margin-top: -1em;
			margin-bottom: -.5em;
			margin-left: 15px;
		}

		.major_minor {
			font-size: 23px;
			font-family: 'Cinzel Decorative', serif; font-weight: 400;
			color: #363636;
			margin-bottom: -1.5em;
			margin-left: 10px;
		}


		@media (max-width: 1680;) {
			body {
				font-size: 16px;
			}
			.container {
				max-width: 70%;
			}
		}


		p {
			color: #132139;
			margin-left: 20px;
		}

		.panel {
			background-color: #696969;
			border-radius: 30px;
			color: white;
			font-size: 16px;
			height: 25px;
			margin-left: 0px;
			text-transform: uppercase;
			width: 230px;
		}

		.index {
			color: #BB4D3E;
		}
		.subtitle {
			color: #fff;
			text-align: center;
			font-size: 14px;
		}

		ul li {
			color: #363636;
			text-decoration: none;
			list-style: none;
			margin-left: -20px;
		}

/* Portfolio */

		/* Your Website Styles */
		body {
		  text-align: center;
		  z-index: -1;
		  height: 90px;
		  width: 1000px;
		}

		.controls {
		  margin-left: 350px;
		}

		.logo {
		  margin-left: 200px;
		  margin-bottom: -30px;
		}

		section {
		  align: center;
		  margin-left: 180px;
		}

		ul {
		  list-style: none;
		  text-decoration: none;
		  margin-left: 300px;
		}


		/* Gallery Stying */
		.gallery .control-button {
		  color: #ccc;
		  color: rgba(255, 255, 255, 0.4);
		}

		.gallery .control-button:hover {
		  color: white;
		  color: rgba(255, 255, 255, 0.8);
		}

		/*
			Theme controls how everything looks in Gallery CSS.
		*/
		.gallery {
		  position: relative;
		}

		.gallery .item {
		  height: 500px;
		  overflow: hidden;
		  text-align: center;
		  margin-left: 100px;
		}
		.gallery .controls {
		  position: absolute;
		  bottom: -120px;
		  width: 100%;
		  text-align: center;
		}

		.gallery .controls img {
		  border: 1px solid #000;
		  size: 200px;
		}

		.gallery .control-button {
		  display: inline-block;
		  margin: 0 .02em;
		  font-size: 3em;
		  text-align: center;
		  text-decoration: none;
		  transition: color .1s;
		}